.authorization
	text-align center

	&__social

		&__vk
			width 30px
			height 30px
			background url('../images/social/icon-vk.png')
			background-size contain
			border none
			outline none
			cursor pointer
