<div class="preloader">
	<span class="preloader__dot"></span>
	<span class="preloader__dot"></span>
	<span class="preloader__dot"></span>
	<span class="preloader__dot"></span>
	<span class="preloader__dot"></span>
</div>
